# Managed with Ansible
[Unit]
Description=Set the system's time using NTP right after boot
After=default.target

[Service]
Type=simple
ExecStart=/usr/bin/rdate -ncv {{ ntp_servers[0] }}

[Install]
WantedBy=default.target
Also=openntpd.service
